section {background-color: rgba(0, 0, 0, 0.521);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    border-radius: 15px;
}

main {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}
#lumpy-draw {
    width: 50px;
    height: auto;
}
.clickable {
    width: 70px;
    height: 70px;
}

.dark-square {
    background-color: rgba(128, 128, 128, 0.637);
    
}

.dark-square:hover {
    transform: scale(1.1);
}

table {
    border-radius: 15px;
    border: solid black;
    
}

.king {
    background-image: url(../assets/crown.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    
}
.red-piece {
    background-color: red;
    border-radius: 35px;

}

.black-piece {
    background-color: black;
    border-radius: 35px;

}

td {
    height: 50px;
    width: 50px;
}

.selected {
    border: solid 2px gold;
}

.display {
    margin-top: 10px;
    font-size: 25px;
    text-transform: capitalize;
}

.red-color {
    color: red;
}