section {background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clickable {
    width: 50px;
    height: 50px;
}

.dark-square {
    background-color: gray;
    
}


table {
    border: solid black;
   
}
.king {
    background-image: url(../assets/crown.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    
}
.red-piece {
    background-color: red;
    border-radius: 25px;

}

.black-piece {
    background-color: black;
    border-radius: 25px;

}

td {
    height: 50px;
    width: 50px;
}