main {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 80%;
    padding: 10%;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 20px;
    font-family: 'Ranchers', cursive;
    background-color: #6761a800;
    
    
}
header {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 70px;
    background-color: #6761A8;
    background-image: linear-gradient(black, #6761AB, #70D7FF);
}

h1 {
    font-size: 50px;
    font-weight: bolder;
    font-family: 'Ranchers', cursive;
    
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 70px;
    background-color: #6761A8;
    background-image: linear-gradient( #70D7FF, #6761AB, black);

}

section {
    display: flex;
    flex-direction: row;
    width: 80vw;
    flex-direction: column;
    display: block;
    background-color: #6761a89d;
    border-radius: 20px;
    padding: 15px;
    margin: 15px;  
}

.player-stats-container {
    display: flex;
}

.player-one-stats {
    
    width: 40vw;
}

.player-two-stats {
    
    width: 40vw;
}