/* add home page styles here */
body {
    background-image: url('../assets/jeremy-thomas-4dpAqfTbvKA-unsplash.jpg');
    border-radius: 25px;
    
}

header {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 70px;
    background-color: #6761A8;
    background-image: linear-gradient(black, #6761AB, #70D7FF);

}

h1 {
    font-size: 50px;
    font-weight: bolder;
    font-family: 'Ranchers', cursive;

    
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #6761a867;
    height: 80%;
    padding: 10%;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 20px;
    font-family: 'Ranchers', cursive;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

label {
    font-weight: bolder;
    font-size: 25px;

}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 25px;
    opacity: 1;
  }

  button {
      border-radius: 15px;;
      box-shadow: 5px 10px rgba(102, 51, 153, 0.651);
      background-color: #6761A8;
      display: block;    
  }

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 70px;
    background-color: #6761A8;
    background-image: linear-gradient( #70D7FF, #6761AB, black);

    
}

#game-rules {
    
}